.main-menu ul {
  margin: 0;
  padding: 2.5em 1em 0;
  width: 200px;
  background : black;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: rgb(221, 196, 196);
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover, .main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}
.main-menu:target {
  left: 0;
  outline: none;
  -webkit-box-shadow: 3px 0 12px black;
  box-shadow: 3px 0 12px black;
}

.main-menu:target ul, {
  position: relative;
 
}

main .main-books {
  display: flex;
  justify-content: center;
  background-color: rgb(66, 63, 63);
}

main .main-books h2,
main .main-books span {
  display: inline;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .main-books span {
  background-color: rgb(221, 202, 202);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 2%;
}

main #main-header {
  height: 9%;
}
