#main-menu-toggle span {
  background: rgb(212, 202, 202);
  display: block;
  height: 5px;
  width: 30px;
  margin: 5px 2px 2px 2px;
   
}

#main-menu-close span {
  background-color: rgb(243, 234, 234);
  display: block;
  height: 4px;
  width: 20px;

}
.main-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 10%;
}

.formWidth {
  display: block;
  text-align: left;
  align-content: center;
  padding: 10px;
  margin:15px 0;
  width: 500px;
}

.formWidth:focus {
  background-color: rgb(136, 141, 139); 
}