<a href="#main-menu"
    class="menu-toggle"
    id="main-menu-toggle">
  <span></span>
  <span></span>
  <span></span>
</a>
<h1 class="logo">Best Books! </h1>


<nav id="main-menu"
      class="main-menu">

  <a href=""
      class="menu-close"
      id="main-menu-close">
      
    <span ></span>
  </a>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new_search">Search</a></li>
    <li><a href="/books/:add">Add Book</a></li>
  </ul>
</div>
</nav>


